# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Type checking / linting
.mypy_cache/
.ruff_cache/

# Testing
.pytest_cache/
htmlcov/
.coverage

# Virtual environments
.venv/

# Imp
.imp-metrics/
